{% extends layout.html %}

{% block title %}Forgot Password{% endblock %}

{% block body %}
<div class="login">
    <h1>Forgot Password</h1>
    <div class="links">
        <a href="{% url forgotpassword %}" class="active">Forgot Password</a>
        <a href="{% url login %}">Login</a>
    </div>
    <form action="{% url forgotpassword %}" method="post">
        <label for="email">
            <i class="fas fa-envelope"></i>
        </label>
        <input type="email" name="email" placeholder="Your Email" id="email" required>
        <div class="msg">{{ $msg }}</div>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}
