{% extends layout.html %}

{% block title %}Reset Password{% endblock %}

{% block body %}
<div class="login">
    <h1>Reset Password</h1>
    <form action="{% url %}resetpassword/{{ $email }}/{{ $code }}" method="post">
        <label for="npassword">
            <i class="fas fa-lock"></i>
        </label>
        <input type="password" name="npassword" placeholder="New Password" id="npassword" required>
        <label for="cpassword">
            <i class="fas fa-lock"></i>
        </label>
        <input type="password" name="cpassword" placeholder="Confirm Password" id="cpassword" required>
        <div class="msg">{{ $msg }}</div>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}
